:root {
    --main-bg-color: #a1b7df;
    --main-text-color: #000;
    --light-text-color: #666;
    --white: #fff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --hover-shadow-color: rgba(0, 0, 0, 0.3);
    --transition-duration: 0.2s;
  }
  .body{
    background-color: var(--main-bg-color);
  }
  .body1{
    max-width: 1200px;
    margin: 0 auto;
    padding:   3px 0 40px 0;
  }
  .body1 .about_us_title{
    font-size: 2rem;
    font-weight: bolder;    
  }
  .sandwich{
    display: flex;
    justify-content: flex-end;
    padding: 20px 30px;
    margin-bottom: 5px;
  }
  .sandwich a{
    text-decoration: none;
    font-weight: 700;
    color: var(--main-text-color);
  }
  .container1 .image1{
    width: 100%;
  }
  .container1 .text1{
    font-size: 1.3rem;
    color: var(--light-text-color);
    padding: 20px 10px;
  }

  /* 定義淡入和上移動畫 */
@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(20px); /* 從下方移入 */
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

/* 淡入上移的動畫效果 */
.fade-in-up {
  opacity: 0; /* 初始狀態 */
  animation: fadeInUp 0.8s ease-out;
  animation-fill-mode: forwards; /* 確保動畫結束時保持最終狀態 */
}

