.header{
    width:100%;
}
.header_index{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.background{
    position: relative;
    background-color: #fafafa;
    opacity: 40%;
}
.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

.index {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    gap: 40px; /* 控制中間文字間距 */
}


a {
    color: #050604;
    text-decoration: none;
    font-weight: normal; /* 確保文字無粗體 */
}

a:hover{
    font-weight: bold;
}