.header {
    width: 100%;
    position: fixed; /* 固定在頁面頂部 */
    top: 0; /* 確保在頂部 */
    left: 0;
    z-index: 100; /* 確保 header 在其他內容之上 */
    background-color: rgba(255, 255, 255, 0.95); /* 半透明背景 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 添加陰影，讓 header 更立體 */
}

/* 確保內容不被 header 覆蓋 */
body {
    margin-top: 80px; /* 根據 header 的高度調整 */
}


.header_index{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.background{
    position: relative;
    background-color: #fafafa;
    opacity: 40%;
}
.header_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
}

.index {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: center;
    gap: 40px; /* 控制中間文字間距 */
}


a {
    color: #050604;
    text-decoration: none;
    font-weight: normal; /* 確保文字無粗體 */
}

a:hover{
    font-weight: bold;
}